<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>To-do app</title>
  </head>
  <body>
    <div id="app">
      <div class="stats">
        <h3 class="stats__title">{{ countTasks }}</h3>
        <task
          @done="removeTask(index)"
          @completed="completedTask(index)"
          :data="task"
          v-for="(task, index) in tasks"
          :key="index"
        ></task>
      </div>
      <div class="add_task">
        <div class="add_task__input">
          <input
            type="text"
            v-model="new_task.title"
            placeholder="Новая задача"
          />
          <textarea v-model="new_task.desc" placeholder="Описание"></textarea>
        </div>
        <button @click="createTask" class="add_task__btn">➕</button>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
